@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $homePageFontSize;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 20px;
}

main {
  margin: 0 80px;
}
